.btn {
  border-radius: 3px;
  font-size: 18px;
  flex-shrink: 0;
  font-family: "ROKAF Sans";
}

.large {
  width: 600px;
  height: 58px;
  font-weight: 500;
}

.medium {
  /*기존은 300px 58px*/
  width: 290px;
  height: 50px;
  font-weight: 500;
}

.small {
  width: 140px;
  height: 58px;
  font-weight: 500;
}

.xsmall {
  padding: 12px 23px;
  font-size: 16px;
  font-weight: 400;
}

.brand {
  color: var(--bg-bg);
  background-color: var(--brand-brand);
  border-style: none;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.25);
}

.white {
  color: var(--brand-brand);
  background-color: var(--bg-bg);
  border: 1px solid var(--brand-brand);
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.25);
}
