.container {
  min-height: 100vh;
  background: #F0F4FA;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 94px;
  margin: 0;
}

.formBox {
  width: 100%;
  max-width: 900px;
  background: white;
  border: 2px solid #464F5F;
  border-radius: 20px;
  padding: 40px 48px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 40px 16px 40px 16px;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;
}

.label {
  color: #414141;
  font-size: 18px;
  font-weight: 600;
}

.input,
.textarea {
  max-width: 100%;
  border-radius: 15px;
  border: 1px #dddddd solid;
  padding-left: 20px;
  font-size: 16px;
  box-sizing: border-box;
}

.input {
  width: auto;
  height: 48px;
}

.input[type="password"] {
  padding-right: 40px;
}

.textarea {
  width: auto;
  height: 98px;
  padding-top: 15px;
  resize: none;
}

.backgroundGrid {
  width: 100%;
  display: grid;
  gap: 16px;
  justify-content: center;
  grid-template-columns: repeat(4, 150px);
  grid-template-rows: repeat(2, 150px);
  box-sizing: border-box;
}

@media (max-width: 700px) {
  .formBox {
    max-width: 350px;
    padding: 24px 8px;
  }
  .backgroundGrid {
    grid-template-columns: repeat(2, 150px);
    grid-template-rows: repeat(4, 150px);
  }
}

.backgroundItem {
  width: 150px;
  height: 150px;
  border-radius: 16px;
  border: 1px solid #ddd;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  justify-self: center;
  background: transparent;
  transition: border 0.2s;
}

.backgroundItem.selected {
  border: 2px solid rgba(70, 79, 95, 0.7);
}

.eyeButton {
  position: absolute;
  right: 24px;
  top: 70%;
  transform: translateY(-50%);
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.submitBtn {
  width: 100%;
  height: 58px;
  background: #5D6A7F;
  border-radius: 16px;
  color: white;
  font-size: 18px;
  font-family: 'EF_jejudoldam', sans-serif;
  font-weight: 400;
  border: none;
  margin-top: 24px;
  cursor: pointer;
}

.title {
  color: #414141;
  font-size: 24px;
  font-weight: 800;
}

.errorMsg {
  color: red;
  margin-top: 10px;
}

.successMsg {
  color: green;
  margin-top: 10px;
}