.recentJournalsSection {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 40px;
  border-radius: 5px;
  border: 1px solid #464f5f;
}

.sectionTitle {
  color: #414141;
  font-family: "Pretendard";
  align-self: flex-start;
  font-size: 24px;
  font-weight: 800;
  width: fit-content;
}

.messageContainer {
  width: 900px;
}

.noRecentJournalsMessage {
  width: fit-content;
}

.recentJournalCardsGrid {
  display: grid;
  gap: 20px;
  justify-items: center;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

@media (max-width: 1023px) {
  .messageContainer {
    width: 596px;
  }
  .recentJournalCardsGrid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (max-width: 767px) {
  .messageContainer {
    width: 345px;
  }
  .recentJournalCardsGrid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
