.journalExplorerSection {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 40px;
  border-radius: 5px;
  border: 1px solid #464f5f;
  width: fit-content;
}

.sectionTitle {
  color: #414141;
  font-family: "Pretendard";
  font-size: 24px;
  font-weight: 800;
}

.journalCardsGrid {
  align-self: center;
  display: grid;
  gap: 20px;
  justify-items: center;
  width: fit-content;

  grid-template-columns: repeat(1, minmax(0, 1fr));
}
@media (min-width: 768px) {
  .journalCardsGrid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .journalCardsGrid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
