.routineRow {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.routineTitle {
  width: 200px;
  font-family: "Pretendard";
  font-size: 18px;
  font-weight: 700;
  color: #414141;
  text-align: right;
  margin: 21px 24px;
  flex-shrink: 0;
}

.stampGroup {
  display: flex;
}

.checkIconContainer {
  width: 36px;
  height: 36px;
  border-radius: 50px;
  margin: 14px 41px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.incompleteBackgroundCell {
  background-color: #eee;
}
.mon {
  background-color: #e0ffff;
} /* 월요일 (예시 노란색) */
.tue {
  background-color: #b0e0e6;
} /* 화요일 (예시 하늘색) */
.wed {
  background-color: #87cefa;
} /* 수요일 (예시 살구색) */
.thu {
  background-color: #89cff0;
} /* 목요일 (예시 연두색) */
.fri {
  background-color: #87ceeb;
} /* 금요일 (예시 연한 파랑) */
.sat {
  background-color: #0073cf;
} /* 토요일 (예시 연한 녹색) */
.sun {
  background-color: #1e90ff;
} /* 일요일 (예시 연한 빨강) */
